<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity.mediation.maio">

    <application>
        <activity
          android:name="jp.maio.sdk.android.AdFullscreenActivity"
          android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
          android:hardwareAccelerated="true"
          android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
          android:name="jp.maio.sdk.android.HtmlBasedAdActivity"
          android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
          android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
