<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity.mediation.maio">

    <application>
        <activity
            android:name="jp.maio.sdk.android.AdFullscreenActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:label="maiosdk"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <data android:scheme="jp.maio.sdk.android"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
