<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity.mediation.adcolony.support">

    <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="26" />

    <!-- For optimal performance, AdColony recommends adding the following OPTIONAL permission -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- For optimal performance, AdColony recommends adding the following OPTIONAL permission -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->

    <application>
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />

        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
    </application>

</manifest>
