<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity.mediation.duadplatform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="26" />

    <application>

        <meta-data
          android:name="app_license"
          android:value="YOUR_APP_LICENSE_HERE" />
        <provider
          android:name="com.duapps.ad.stats.DuAdCacheProvider"
          android:authorities="${applicationId}.DuAdCacheProvider"
          android:exported="false" />

        <receiver android:name="com.duapps.ad.base.PackageAddReceiver" >
          <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" />
            <data android:scheme="package" />
          </intent-filter>
        </receiver>

    </application>

</manifest>
